<h1 class="title">MockServer</h1>


<app-header></app-header>
<p-menubar [model]="menuItems" [autoDisplay]="false">
    <div>
        <!-- <p-dropdown [options]="languages" [(ngModel)]="currentLanguage" (onChange)="onLanguageChanged($event)">
        </p-dropdown> -->
    </div>
</p-menubar>
<div>
    <p-messages></p-messages>
    <p-messages key="error" severity="error" summary="Error"></p-messages>
    <p-toast [style]="{ marginTop: '80px' }" position="top-right" key="toast"></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
</div>
<router-outlet></router-outlet>


<nav>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/setup" routerLinkActive="active">Setup</a>
  <a routerLink="/restore" routerLinkActive="active">Restore</a>
  <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<router-outlet name="popup"></router-outlet>
